
@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/fonts/Robotobold.ttf");
  font-weight: bold;
}
:root {
  --index: calc(1vw + 1vh); 
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
   font-family: 'Roboto', sans-serif, Helvetica Neue, sans-serif;
    background-color: rgb(5, 44, 69);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.navigate ul {
  position: fixed;
  display: flex;
  top: 5%;
  right: 5%;
  z-index: 2;
}
.nav-links li {
  color: white;
  padding-right: 4rem;
  font-size: 18px;
  transition: all 400ms;
  overflow-wrap: unset;
}
.nav-links li:hover {
  transform: scale(1.2);
}
.burger-btn {
  color: white;
  position: fixed;
  display: flex;
  top: 5%;
  right: 10%;
  z-index: 5;
  display: none;
}
.mobile-menu {
  position: fixed;
  background-color:rgba(75, 141, 148, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 3;
}
.mobile-menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  color: white;
  padding-top: 7%;
}

.mobile-menu li {
  padding: 2rem;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 30px;
  width: 90vw;
}
.intro__media {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
}

.intro__media video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.intro__content {
  position: fixed;
  
  z-index: 3;
  width: 75%;
  height: 75%;
  top: 30%;
  left: 15%;
}


.img {
  width: 400px;
  height: 250px;
  display: inline-block;
  position: relative;
  left: 25%;
  z-index: 2;
  transition: all 1000ms;
  caret-color: transparent;
  animation: mymove 5s cubic-bezier(.17,.67,.67,.96);
}


@keyframes mymove {
  0% {
    opacity: 0;
    transform: scale(1);
  }
 
  90% {
   
    opacity: 1;
   transform: scale(1.8);
  }
  100% {
    opacity: 0;
    transform: scale(1.9);
  }
}


.about {
  position: relative;
  z-index: 2;
  color: white;
  padding: 5% 15% ;
  opacity: 0;
  transition: all 1000ms;

}
.about.active {
  opacity: 1;
}
.about p {
  font-size: calc(var(--index)*1.3);
  text-align: justify;
}

.brands {
  margin-top: 70%;
}

.brand-items {
  display: flex;
  align-items: center;
  padding-right: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}
.brand-items div {
  padding: 5% 5% ;
}
.sub-title {
  position: relative;
  margin: 15% 0 0 0 ;
  z-index: 2;
  font-size: 26px;
  color: white;
  text-align: center;
}



@media (max-width: 850px) {
  .nav-links {
    display: none;
  }
  .burger-btn {
    display: block;
    right: 5%;
    font-size: 18px;
  }
  .mobile-menu li:hover {
    background-color: rgba(255, 255, 255, 0.2)
  }
  .img {
    left: 5%;
  }
  
  
}

@media (max-width: 600px) {
  
  .img {
    left: 0;
    width: 250px;
    height: 150px;
  }
  .brands {
    margin-top: 180%;
  }
  
   .about p {
    margin-left: 0;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
    
  }
}