@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/fonts/Robotobold.ttf");
  font-weight: bold;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 200%;
  max-width: 100vw;
   font-family: 'Roboto', sans-serif, Helvetica Neue, sans-serif;
    background-color: rgb(5, 44, 69);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.intro__navigate ul {
  position: fixed;
  display: flex;
  top: 5%;
  right: 5%;
  z-index: 2;
}
.nav-links li {
  color: white;
  padding-right: 4rem;
  font-size: 18px;
  transition: all 400ms;
  overflow-wrap: unset;
}
.nav-links li:hover {
  transform: scale(1.2);
}
.burger-btn {
  color: white;
  position: fixed;
  display: flex;
  top: 5%;
  right: 10%;
  z-index: 2;
  display: none;
}
.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
align-items:center;
justify-content: center;
  width: 90vw;
  height: 40vh;
}
.mobile-menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  color: white;
}

.mobile-menu li {
  padding-top: 2rem;
  font-size: 30px;
}
.intro__media {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
}

.intro__media video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}
.intro__content {
  width: 370px;
  height: 220px;
  position: relative;
  caret-color: transparent;
  display: flex;
  margin-left: 30%;
  justify-content: center;
  margin-top: 30vh;
  z-index: 2;
}

.intro__content .img {
  width: 60vw;
  height: auto;
}
.intro__content .about {
  position: relative;
  color:white;
  z-index: 10;
  }


.fade-enter .intro__content {
  opacity: 0;
}
.fade-enter-active .intro__content{
  opacity: 1;
  animation: mymove 5s infinite;
}
.fade-exit .intro__content{
 opacity: 0;
}
/* .fade-exit-active .intro__content {
  
} */
.fade-enter-active .intro__content,
.fade-exit-active .intro__content {
  transition: opacity 2000ms, transform 3000ms;
}
@keyframes mymove {
  from {width: 200px; height: 120px;}
  to {width: 700px; height: 520px;}
}
.brands {
  margin-top: 90%;
}

.brand-items {
  display: flex;
  align-items: center;
  padding-right: 4rem;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}
.brand-items div {
  padding: 5% 5% ;
}
.sub-title {
  position: relative;
  margin: 15% 0 5% 0 ;
  z-index: 3;
  font-size: 26px;
  color: white;
  text-align: center;
}



@media (max-width: 850px) {
  .nav-links {
    display: none;
  }
  .burger-btn {
    display: block;
    right: 5%;
    font-size: 18px;
  }
  @keyframes mymove {
    from {width: 50px; height: 20px;}
    to {width: 250px; height: 150px;}
  }
}

@media (max-width: 600px) {
  .intro__content {
    position: relative;
    margin-left: 10%;;
    max-width: 250px;
    height: 150px;
  }
  
  .intro__about {
    font-weight: 400;
    font-size: 20px;
  }
}